<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    <!-- Define your beans here -->
    
    <!-- define the dependency -->
	
	<!-- Define a logger 
	<bean id ="myloggerConfig" class="com.sofiane.springdemo.MyloggerConfig" init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE"/>
		<property name="printedLoggerLevel" value="FINE"/>
	</bean>
	-->
	<!-- define the dependency -->     
    
    <bean id="myFortuneService"
    		class="com.sofiane.springdemo.HappyFortuneService">
    </bean>	
	
    <bean id="tenisCoach"
        class="com.sofiane.springdemo.TenisCoach">
        
        <constructor-arg ref="myFortuneService"/>         
    </bean>
    
    <bean id="baseBallCoach"
        class="com.sofiane.springdemo.BaseBallCoach">         
   	
    	<!-- set up constructor injection -->		
    	<constructor-arg ref="myFortuneService"/>
    </bean>
     <bean id="trackCoach"
        class="com.sofiane.springdemo.TrackCoach">         
   	
    	<!-- set up constructor injection -->		
    	<constructor-arg ref="myFortuneService"/>
    </bean>
  	
  	<bean id="myCricketCoach"
  		  class="com.sofiane.springdemo.CricketCoach">
  		  <!-- set up setter injection -->
  		  <property name="fortuneService" ref="myFortuneService"/>	
  		  <!-- inject the literal Values --> 
  		  <property name="emailAddress" value="thisemail@gmail.com"></property>
  		  <property name="team" value="jsmt tiaret !"></property>
  	</bean>
  	
  	
  	
</beans>